:host ::ng-deep {
  // For proper scoping, do not include the .css file suffix here
  @import "../../form.component";
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:host ::ng-deep .custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--dark-font-color);
  text-transform: uppercase;
}

label.custom-control-label {
  font-weight: normal !important;
  font-size: 0.875rem !important;
  color: var(--dark-font-color) !important;
  margin-top: auto !important;
  text-transform: none !important;
}