<ng-container *ngVar="(breadcrumbs$ | async) as breadcrumbs">
	<nav *ngIf="(showBreadcrumbs$ | async)" aria-label="breadcrumb" class="nav-breadcrumb">
		<ol class="breadcrumb my-0">
			<li class="breadcrumb-item">
				<div class="breadcrumb-item-limiter">
					<a href="https://pedsnet.org/" class="text-truncate" role="link" tabindex="0">Home</a>
				</div>
			</li>
			<li class="breadcrumb-item">
				<div class="breadcrumb-item-limiter">
					<a href="https://pedsnet.org/database/" class="text-truncate" role="link" tabindex="0">Database</a>
				</div>
			</li>
			<li class="breadcrumb-item">
				<div class="breadcrumb-item-limiter">
					<a href="https://pedsnet.org/metadata/home" class="text-truncate" role="link" tabindex="0">PEDSpace Home</a>
				</div>
			</li>

			<ng-container *ngIf="breadcrumbs.length > 2; else fullTrail">
				<ng-container *ngTemplateOutlet="breadcrumb; context: breadcrumbs[0]"></ng-container>

				<li class="breadcrumb-item breadcrumb-ellipsis" aria-hidden="true">
					<div class="breadcrumb-item-limiter">
						<span class="text-truncate">...</span>
					</div>
				</li>

				<ng-container *ngTemplateOutlet="activeBreadcrumb; context: breadcrumbs[breadcrumbs.length - 1]"></ng-container>
			</ng-container>

			<ng-template #fullTrail>
				<ng-container *ngFor="let bc of breadcrumbs; let last = last;">
					<ng-container *ngTemplateOutlet="!last ? breadcrumb : activeBreadcrumb; context: bc"></ng-container>
				</ng-container>
			</ng-template>
		</ol>
	</nav>

	<ng-template #breadcrumb let-text="text" let-url="url">
		<li class="breadcrumb-item">
			<div class="breadcrumb-item-limiter" *ngIf="(text | translate) as translatedText">
				<a [routerLink]="url" class="text-truncate" [ngbTooltip]="translatedText" placement="bottom" role="link" tabindex="0">{{ translatedText.length > 15 ? (translatedText | slice:0:15) + '...' : translatedText }}</a>
			</div>
		</li>
	</ng-template>

	<ng-template #activeBreadcrumb let-text="text">
		<li class="breadcrumb-item active" aria-current="page">
			<div class="breadcrumb-item-limiter" *ngIf="(text | translate) as translatedText">
				<div class="text-truncate" [title]="translatedText">{{ translatedText.length > 15 ? (translatedText | slice:0:15) + '...' : translatedText }}</div>
			</div>
		</li>
	</ng-template>
</ng-container>