// make the class 'd-inline' as a blue badge
.d-inline {
    background-color: #007bff;
    color: white;
    padding: 0.1em 0.1em;
    border-radius: 0.25em;
    // align the text to the center
    text-align: center;
}