<ds-metadata-field-wrapper [label]="label | translate">
  <ng-container *ngFor="let mdValue of mdValues; let last=last;">
    <ng-container *ngTemplateOutlet="isDQCheckRequirement ? isDQCheckRequirementTemplate : (renderMarkdown ? markdown : (hasLink(mdValue) ? (hasValue(img) ? linkImg : link) : (hasBrowseDefinition() ? (shouldRenderAsBadge(mdValue) ? badge : (shouldRenderAsButton(mdValue) ? buttonlink : browselink)) : simple)));
      context: {value: mdValue.value, img: img, mdValue: mdValue, sentenceTemplateParts: sentenceTemplateParts}">
    </ng-container>
    <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
  </ng-container>
</ds-metadata-field-wrapper>

<!-- Render value as markdown -->
<ng-template #markdown let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <span [dsMarkdown]="value">
      </span>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <span [dsMarkdown]="value">
      </span>
    </ng-template>
  </span>
</ng-template>


<!-- Render value as a link (href and label) -->
<ng-template #link let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <a class="ds-simple-metadata-link" target="_blank" [href]="value">
        {{ value }}
      </a>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <a class="ds-simple-metadata-link" target="_blank" [href]="value">
        {{ value }}
      </a>
    </ng-template>
  </span>
</ng-template>


<!-- Render value as a link with icon -->
<ng-template #linkImg let-img="img" let-value="value">
  <a [href]="value" class="link-anchor dont-break-out ds-simple-metadata-link" target="_blank">
    <img class="link-logo"
      [alt]="img.alt | translate"
      [style.height]="'var(' + img.heightVar + ', --ds-item-page-img-field-default-inline-height)'"
      [src]="img.URI"/>
    {{value}}
  </a>
</ng-template>

<!-- Render simple value in a span  -->
<ng-template #simple let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out preserve-line-breaks">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}{{ value }}{{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      {{ value }}
    </ng-template>
  </span>
</ng-template>

<!-- Render value as a link to browse index -->
<ng-template #browselink let-value="value" let-mdValue="mdValue" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out preserve-line-breaks">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <a class="ds-browse-link"
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(value)">
        {{ value.includes('::') ? getLastItem(value) : value }}
      </a>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <a class="ds-browse-link"
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(value)">
        {{ value.includes('::') ? getLastItem(value) : value }}
      </a>
    </ng-template>
  </span>
</ng-template>



<!-- Render value as a button to browse index -->
<ng-template #buttonlink let-value="value" let-mdValue="mdValue">
  <button [ngClass]="['btn', 'btn-sm', 'ds-metadata-value', getButtonClass(value)]"
          [routerLink]="['/browse', browseDefinition.id]"
          [queryParams]="getQueryParams(value)">
    {{ value.includes('::') ? getLastItem(value) : value }}
  </button>
</ng-template>


<ng-template #badge let-value="value" let-mdValue="mdValue">
  <span [ngClass]="['badge', 'ds-metadata-value', getButtonClass(value)]">
    {{ value.includes('::') ? getLastItem(value) : value }}
  </span>
</ng-template>

<ng-template #isDQCheckRequirementTemplate let-value="value" let-mdValue="mdValue">
  <a class="dqcheck-requirement"
     [routerLink]="['/browse', 'requirement']"
     [queryParams]="{ value: value }">
    {{ value }}
  </a>
</ng-template>