// @import '../../../../styles/variables';
@import 'src/themes/PEDSpace/styles/_theme_sass_variable_overrides.scss';

.ds-metadata-value {
  &.btn {
    margin: 0.2rem;
    transition: all 0.3s ease;

    &.btn-outline-primary {
      color: $western-red;
      border-color: $western-red;
      background-color: transparent;

      &:hover, &:focus {
        color: $snow;
        background-color: $western-red;
      }
    }

    &.btn-dq-category {
      color: $snow;
      border-color: $china-rose;
      background-color: $china-rose;

      &:hover, &:focus {
        color: $china-rose;
        background-color: $snow;
      }
    }

    &.btn-dataset-eval-strategy {
      color: $snow;
      border-color: $midnight-green;
      background-color: $midnight-green;

      &:hover, &:focus {
        color: $midnight-green;
        background-color: $snow;
      }
    }

    &.btn-error-detection-approach {
      color: $black-bean;
      border-color: $honeydew;
      background-color: $honeydew;

      &:hover, &:focus {
        color: $black-bean;
        background-color: $snow;
      }
    }
  }
}

.ds-browse-link {
  color: $western-red;
  text-decoration: none;
  transition: color 0.3s ease;
  
  &:hover, &:focus {
    color: darken($western-red, 15%);
    text-decoration: underline;
  }
}

// .separator {
//   color: $gray-700;
//   margin: 0 0.5rem;
// }
