<ds-metadata-field-wrapper [label]="label | translate">
  <ng-container *ngFor="let mdValue of mdValues; let last = last;">
    <!-- Simplified logic: prioritize repo when both repo and URL detected -->
    <ng-container *ngIf="repo && hasLink(mdValue)">
      <ng-container *ngTemplateOutlet="repoLink; context: { value: mdValue.value, repo: repo, sentenceTemplateParts: sentenceTemplateParts }"></ng-container>
    </ng-container>
    <ng-container *ngIf="!(repo && hasLink(mdValue))">
      <ng-container *ngTemplateOutlet="
        isDQCheckRequirement ? isDQCheckRequirementTemplate :
        (renderMarkdown ? markdown :
          (hasLink(mdValue) ? (hasValue(img) ? linkImg : link) :
            (hasBrowseDefinition() ?
              (shouldRenderAsBadge(mdValue) ? badge :
                (shouldRenderAsButton(mdValue) ? buttonlink :
                  (shouldRenderAsCode(mdValue) ? codeSnippet : browselink)
                )
              ) : (shouldRenderAsCode(mdValue) ? codeSnippet : simple)
            )
          )
        ); context: { value: mdValue.value, img: img, mdValue: mdValue, sentenceTemplateParts: sentenceTemplateParts, repo: repo }">
      </ng-container>
    </ng-container>
    <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
  </ng-container>
</ds-metadata-field-wrapper>

<!-- Repository link template (GitHub / Bitbucket) -->
<ng-template #repoLink let-value="value" let-repo="repo" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out">
    <ng-container *ngIf="sentenceTemplateParts; else defaultRepoContent">
      {{ sentenceTemplateParts[0] }}
      <a [ngClass]="['repo-link', 'repo-' + repo]" target="_blank" rel="noopener noreferrer" [href]="value">
        <i [ngClass]="getRepoIcon(repo)" aria-hidden="true"></i>
        <span class="repo-text">{{ getRepoText(repo) }}</span>
        <i class="fas fa-external-link-alt external-icon" aria-hidden="true"></i>
      </a>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultRepoContent>
      <a [ngClass]="['repo-link', 'repo-' + repo]" target="_blank" rel="noopener noreferrer" [href]="value">
        <i [ngClass]="getRepoIcon(repo)" aria-hidden="true"></i>
        <span class="repo-text">{{ getRepoText(repo) }}</span>
        <i class="fas fa-external-link-alt external-icon" aria-hidden="true"></i>
      </a>
    </ng-template>
  </span>
</ng-template>

<!-- Render value as markdown -->
<ng-template #markdown let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <span [dsMarkdown]="value" [applyCitationStyling]="applyCitationStyling">
      </span>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <span [dsMarkdown]="value" [applyCitationStyling]="applyCitationStyling">
      </span>
    </ng-template>
  </span>
</ng-template>


<!-- Render value as a link (href and label) -->
<ng-template #link let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <a class="ds-simple-metadata-link" target="_blank" [href]="value">
        {{ value }}
      </a>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <a class="ds-simple-metadata-link" target="_blank" [href]="value">
        {{ value }}
      </a>
    </ng-template>
  </span>
</ng-template>



<!-- Render value as a link with icon -->
<ng-template #linkImg let-img="img" let-value="value">
      <a class="dont-break-out ds-simple-metadata-link"
      [href]="value"
      [attr.target]="getLinkAttributes(value).target"
      [attr.rel]="getLinkAttributes(value).rel">
      {{value}}
    <img class="link-logo"
      [alt]="img.alt | translate"
      [style.height]="'var(' + img.heightVar + ', --ds-item-page-img-field-default-inline-height)'"
      [src]="img.URI"/>
    {{value}}
  </a>
</ng-template>

<!-- Render simple value in a span  -->
<ng-template #simple let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out preserve-line-breaks">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}{{ value }}{{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      {{ value }}
    </ng-template>
  </span>
</ng-template>

<!-- Render value as a link to browse index -->
<ng-template #browselink let-value="value" let-mdValue="mdValue" let-sentenceTemplateParts="sentenceTemplateParts">
  <span class="dont-break-out preserve-line-breaks">
    <ng-container *ngIf="sentenceTemplateParts; else defaultContent">
      {{ sentenceTemplateParts[0] }}
      <a class="ds-browse-link punctuation-only"
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(value)">
        {{ value.includes('::') ? getLastItem(value) : value }}
      </a>
      {{ sentenceTemplateParts[1] }}
    </ng-container>
    <ng-template #defaultContent>
      <a class="ds-browse-link"
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(value)">
        {{ value.includes('::') ? getLastItem(value) : value }}
      </a>
    </ng-template>
  </span>
</ng-template>



<!-- Render value as a button to browse index -->
<ng-template #buttonlink let-value="value" let-mdValue="mdValue">
  <button [ngClass]="['btn', 'btn-sm', 'ds-metadata-value', getButtonClass(value)]"
          [routerLink]="['/browse', browseDefinition.id]"
          [queryParams]="getQueryParams(value)">
    {{ value.includes('::') ? getLastItem(value) : value }}
  </button>
</ng-template>


<ng-template #badge let-value="value" let-mdValue="mdValue">
  <span [ngClass]="['badge', 'ds-metadata-value', getButtonClass(value)]">
    {{ value.includes('::') ? getLastItem(value) : value }}
  </span>
</ng-template>

<ng-template #isDQCheckRequirementTemplate let-value="value" let-mdValue="mdValue">
  <a class="dqcheck-requirement"
     [routerLink]="['/browse', 'requirement']"
     [queryParams]="{ value: value }">
    {{ value }}
  </a>
</ng-template>

<!-- Render value as a code snippet -->
<ng-template #codeSnippet let-value="value" let-sentenceTemplateParts="sentenceTemplateParts">
  <div class="code-snippet-container">
    <ng-container *ngIf="sentenceTemplateParts; else defaultCodeContent">
      <span class="code-context">{{ sentenceTemplateParts[0] }}</span>
      <div class="code-with-tooltip">
        <code class="code-snippet">{{ value }}</code>
        <span class="tooltip-container" 
              data-tooltip="Analysts, use this name to reference this variable in your study DAP."
              [attr.aria-label]="'Analysts, use this name to reference this variable in your study DAP.'">
          <i class="fas fa-info-circle tooltip-icon" aria-hidden="true"></i>
        </span>
      </div>
      <span class="code-context">{{ sentenceTemplateParts[1] }}</span>
    </ng-container>
    <ng-template #defaultCodeContent>
      <div class="code-with-tooltip">
        <code class="code-snippet">{{ value }}</code>
        <span class="tooltip-container" 
              data-tooltip="Analysts, use this name to reference this variable in your study DAP."
              [attr.aria-label]="'Analysts, use this name to reference this variable in your study DAP.'">
          <i class="fas fa-info-circle tooltip-icon" aria-hidden="true"></i>
        </span>
      </div>
    </ng-template>
  </div>
</ng-template>
