<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>
<div class="d-flex flex-row">
  <ds-item-page-title-field class="mr-auto" [item]="object">
  </ds-item-page-title-field>
  <ds-dso-edit-menu [object]="object"></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-thumbnail [thumbnail]="object?.thumbnail | async"
                    [defaultImage]="'assets/images/person-placeholder.svg'"
                    [alt]="'thumbnail.person.alt'"
                    [placeholder]="'thumbnail.person.placeholder'">
      </ds-thumbnail>
    </ds-metadata-field-wrapper>
    
    <!-- Parent Name -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.title']"
      [label]="'Parent Name'">
    </ds-generic-item-page-field>
    
    <!-- Contact -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['person.email']"
      [label]="'Contact'">
    </ds-generic-item-page-field>
    
    <!-- Years Active -->
    <ds-generic-item-page-field [item]="object"
      [isDateRange]="true"
      [fields]="['project.startDate', 'project.endDate']"
      [separator]="' - '"
      [label]="'Years Active'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-7">
    <!-- Bio -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'Bio'">
    </ds-generic-item-page-field>
    
    <!-- Clinical Specialty Interest -->
    <ds-generic-item-page-field [item]="object"
      [renderAsButton]="true"
      [fields]="['dc.subject.mesh']"
      [separator]="' '"
      [label]="'Clinical Specialty Interest'">
    </ds-generic-item-page-field>
    
    <!-- Committee -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['local.contributor.committee']"
      [label]="'Committee'">
    </ds-generic-item-page-field>
    
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="link" tabindex="0">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
  <div class="mt-5 w-100">
    <!-- Using configuration: 'study' in a pinch; should be configuration: 'study-relationships' for consistency but practically
     makes no difference, since all configurations show all versions of every Entity anyway. -->
    <ds-tabbed-related-entities-search  [item]="object"
                                        [relationTypes]="[{
                                          label: 'Advised Studies',
                                          filter: 'isPersonOfStudy',
                                          configuration: 'study'
                                        }]">
    </ds-tabbed-related-entities-search>
  </div>
</div>
