[Unit]
Description=Apache Solr
After=network.target

[Service]
Type=forking
User=solr
Group=solr
ExecStart=/opt/solr/bin/solr start
ExecStop=/opt/solr/bin/solr stop
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
