<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>
<div class="d-flex">
  <ds-badges *ngIf="showLabel" [object]="object" [showAccessStatus]="true"></ds-badges>
</div>
<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>

  <ds-dso-edit-menu [object]="object"></ds-dso-edit-menu>
</div>

<ds-generic-item-page-field class="subtitle h3" [item]="object" [fields]="['dc.title.alternative']">
</ds-generic-item-page-field>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-thumbnail [thumbnail]="object?.thumbnail | async" [defaultImage]="'assets/images/orgunit-placeholder.svg'"
        [alt]="'thumbnail.orgunit.alt'" [placeholder]="'thumbnail.orgunit.placeholder'">
      </ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="object" [fields]="['dc.date.created']" [label]="'PEDSnet Member Since'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object" [fields]="['dc.date']" [label]="'item.preview.dc.date'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object" [fields]="['organization.address.addressLocality']"
      [label]="'orgunit.page.city'">
    </ds-generic-item-page-field>

    <!-- TODO: Integrate the functionality of the metadata field below into ds-generic-item-page-field -->
    <a *ngIf="object && object.metadata && object.metadata['organization.identifier'] && object.metadata['organization.identifier'][0]"
      [href]="object.metadata['organization.identifier'][0].value" class="btn btn-primary mb-3" target="_blank">
      VIEW WEBSITE
    </a>

    <ds-generic-item-page-field [renderAsButton]="true" [item]="object" [fields]="['local.subject.flat']" [separator]="'<br>'"
      [label]="'item.preview.dc.subject'"></ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-7">

    <ds-item-page-abstract-field [item]="object" [label]="''"></ds-item-page-abstract-field>

    <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.other']"
      [label]="'item.preview.dc.contributor.other'">
    </ds-generic-item-page-field>

    <h3>Summary of PEDSnet Core Data</h3>

    <div class="healthcare-stats mb-5 mt-4">
      <div class="row mt-4">
        <div class="col-12 mb-4">
          <div class="text-center">
            <div class="stat-label">Total Patients</div>
            <div class="stat-value primary-value">
              <ds-generic-item-page-field [item]="object" [fields]="['local.count.patients']" [enableMarkdown]="false">
              </ds-generic-item-page-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="text-center">
            <div class="stat-label">Inpatient Hospitals</div>
            <div class="stat-value">
              <ds-generic-item-page-field [item]="object" [fields]="['local.count.inpatient']" [enableMarkdown]="false">
              </ds-generic-item-page-field>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="text-center">
            <div class="stat-label">Emergency Department Sites</div>
            <div class="stat-value">
              <ds-generic-item-page-field [item]="object" [fields]="['local.count.ed']" [enableMarkdown]="false">
              </ds-generic-item-page-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="text-center">
            <div class="stat-label">Urgent Care Sites</div>
            <div class="stat-value">
              <ds-generic-item-page-field [item]="object" [fields]="['local.count.urgentcare']"
                [enableMarkdown]="false">
              </ds-generic-item-page-field>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="text-center">
            <div class="stat-label">Primary Care Sites</div>
            <div class="stat-value">
              <ds-generic-item-page-field [item]="object" [fields]="['local.count.primarycare']"
                [enableMarkdown]="false">
              </ds-generic-item-page-field>
            </div>
          </div>
        </div>
      </div>
      <ngb-accordion #acc="ngbAccordion" [destroyOnHide]="false">
        <ngb-panel id="healthcareStatsPanel">
          <ng-template ngbPanelTitle>
            <div class="d-flex align-items-center">
              <i class="fa fa-users me-2"></i>
              <span class="section-title">&nbsp;Patient Population</span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="description-wrapper col-lg-12">
              <ds-item-page-local-field [item]="object" [fields]="['dc.description']"
                [label]="''"></ds-item-page-local-field>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']">
      {{"item.page.link.full" | translate}}
    </a>
  </div>
</div>
<div class="mt-5 w-100">
  <ds-tabbed-related-entities-search [item]="object" [relationTypes]="[
                                        {
                                          label: 'isOrgUnitOfStudy',
                                          filter: 'isOrgUnitOfStudy',
                                          configuration: 'study-relationships'
                                        },
                                        {
                                          label: 'isOrgUnitOfDocumentation',
                                          filter: 'isOrgUnitOfDocumentation',
                                          configuration: 'documentation-relationships'
                                        },
                                        {
                                          label: 'isOrgUnitOfPerson',
                                          filter: 'isOrgUnitOfPerson',
                                          configuration: 'person-relationships'
                                        },]">
  </ds-tabbed-related-entities-search>
</div>