<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>

<div class="container">
  <div class="row" *ngIf="iiifEnabled">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer" [object]="object" [searchable]="iiifSearchEnabled"
        [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>

  <div class="d-flex">
    <ds-badges *ngIf="showLabel" [object]="object" [showAccessStatus]="true"></ds-badges>
  </div>

<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu [object]="object"></ds-dso-edit-menu>
</div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="subtitle-container" *ngIf="object?.metadata?.['local.variable.name']?.length > 0 || object?.metadata?.['dc.title.alternative']?.length > 0">
        <ds-generic-item-page-field class="subtitle" [renderAsCode]="true" [codeType]="'variable'" [item]="object" [fields]="['local.variable.name']" [label]="'item.preview.local.variable.name'">
        </ds-generic-item-page-field>
        <!-- <span class="tooltip-container" 
              title="Analysts, use this name to reference this variable in your study DAP."
              [attr.aria-label]="'Analysts, use this name to reference this variable in your study DAP.'"> -->

      </div>
      <!-- Date Created -->
      <ds-generic-item-page-field [renderAsButton]="false" [item]="object" [isDateRange]="true"
        [fields]="['project.startDate', 'project.endDate']" [separator]="' - '" [label]="'Study Dates'">
      </ds-generic-item-page-field>

      <!-- Date Modified -->
      <ds-item-page-date-field [item]="object" [fields]="['dc.date']" [label]="'item.preview.dc.date'"
        separator="; "></ds-item-page-date-field>

      <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
        <ds-media-viewer [item]="object"></ds-media-viewer>
      </div>

      <!-- Download link(s) -->
      <ds-item-page-file-section [item]="object"></ds-item-page-file-section>

      <ds-generic-item-page-field [renderAsButton]="true" [item]="object" [fields]="['dc.subject']" [separator]="'<br>'"
        [label]="'item.preview.dc.subject'"></ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.publisher']" [label]="'item.page.publisher'">
      </ds-generic-item-page-field>
    </div>

    <div class="col-12 col-md-8">

      <ds-item-page-abstract-field [item]="object" [label]="'item.page.abstract'"></ds-item-page-abstract-field>

      <!-- <ds-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
        [itemType]="'Person'" [metadataFields]="['dc.contributor.author', 'dc.creator']"
        [label]="'item.preview.dc.contributor.author' | translate">
      </ds-metadata-representation-list>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.advisor']"
        [label]="'item.preview.dc.contributor.advisor'">
      </ds-generic-item-page-field> -->

      <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.other']"
        [label]="'item.preview.dc.contributor.other'">
      </ds-generic-item-page-field>

      <ds-item-page-funder-field [item]="object" [label]="'item.preview.dc.contributor'">
      </ds-item-page-funder-field>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.provenance']" [label]="'collection.form.provenance'">
      </ds-generic-item-page-field>

      <ds-item-page-description-field [item]="object"
        [label]="'item.page.description'"></ds-item-page-description-field>

      <!-- <ng-container *ngIf="isLoggedIn"> -->
        <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.uri']" [label]="'item.preview.dc.relation.uri'">
        </ds-item-page-uri-field>
      <!-- </ng-container> -->

      <ds-generic-item-page-field [renderAsButton]="true" [item]="object" [fields]="['dc.subject.other']" [separator]="' '"
        [label]="'browse.metadata.vocab'"></ds-generic-item-page-field>

      <ds-generic-item-page-field [renderAsButton]="true" [item]="object" [fields]="['dc.subject.mesh']" [separator]="' '"
        [label]="'item.page.subject.mesh'"></ds-generic-item-page-field>

      <!-- <div class="col-xs-12 col-md-7"> -->

      <ds-related-items [parentItem]="object" [relationType]="'isConceptSetOfStudy'"
        [label]="'relationships.isConceptSetOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isDocumentationOfStudy'"
        [label]="'Data Source'">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isDQCheckOfStudy'"
        [label]="'relationships.isPersonOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isDQResultOfStudy'"
        [label]="'relationships.isDQResultOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isPersonOfStudy'"
        [label]="'Parent Partner'">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isPhenotypeOfStudy'"
        [label]="'relationships.isPhenotypeOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isStudyOfStudy'"
        [label]="'relationships.isStudyOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isCodeOfStudy'"
        [label]="'relationships.isCodeOf' | translate">
      </ds-related-items>

      <ds-item-page-external-publication-field [item]="object" [label]="'item.preview.dc.relation.isreferencedby'" [applyCitationStyling]="true">
      </ds-item-page-external-publication-field>
      <!-- </div> -->

      <ds-item-page-cc-license-field [item]="object" [variant]="'full'">
      </ds-item-page-cc-license-field>

      <ds-item-page-citation-field [item]="object" [label]="'Cite this Study'">
      </ds-item-page-citation-field>

      <div>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="link" tabindex="0">
          <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="!(object?.metadata['dc.relation']?.length > 0)">
    <br>
  </div>
</div>