@import 'src/themes/PEDSpace/styles/theme.scss';
@import 'src/themes/PEDSpace/styles/_theme_sass_variable_overrides.scss';

:host {
  display: block;

  .pedsnet-title-banner {
      background-color: $midnight-green; /* $midnight-green */
      // padding: 2rem 0;
      width: 100%;
      display: flex;
      align-items: center; /* Centers items vertically */
      min-height: 350px;


    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    .banner-content h1,
    .banner-content h2 {
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      display: inline;
      font-family: proxima-nova, sans-serif;
      font-size: 64px;
      font-weight: 700;
      height: auto;
      line-height: normal;
      overflow-wrap: break-word;
      text-align: left;
      width: auto;
    }

    /* Create custom underline with space */
    .banner-content ::ng-deep h1::after,
    .banner-content ::ng-deep h2::after {
      content: "";
      border-top-color: rgb(147, 88, 112);
      border-top-style: solid;
      border-top-width: 5px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      display: block;
      font-family: proxima-nova, sans-serif;
      font-size: 18px;
      height: 5px;
      line-height: 30.6px;
      max-width: 80px;
      overflow-wrap: break-word;
      width: 80px;
    }

    @media (max-width: 768px) {
      .banner-content h1,
      .banner-content h2 {
        font-size: 1.8rem;
      }
    }
  }

}
