<header class="pedsnet-header">
  <div class="container">
    <nav class="navbar navbar-light p-0" role="navigation" aria-label="PEDSnet Navigation">
      <!-- Mobile Toggler: visible only on small screens -->
      <button 
        class="navbar-toggler pedsnet-toggler d-md-none" 
        type="button" 
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuCollapsed" 
        aria-label="Toggle PEDSnet Navigation">
        <span class="fas fa-ellipsis-v"></span>
      </button>

      <!-- Desktop Menu: visible on md and up -->
      <ul class="navbar-nav d-none d-md-flex me-auto">
        <li *ngFor="let item of navItems; let i = index" 
            class="nav-item" 
            [ngClass]="{'dropdown': item.children && item.children.length > 0}" 
            ngbDropdown 
            autoClose="outside" 
            #desktopDropdown="ngbDropdown"
            (mouseenter)="item.children && item.children.length > 0 ? desktopDropdown.open() : null"
            (mouseleave)="item.children && item.children.length > 0 ? desktopDropdown.close() : null">
          
          <!-- Regular link if no children -->
          <a *ngIf="!item.children || item.children.length === 0" class="nav-link" [href]="item.url">
            {{ item.label }}
          </a>
          
          <!-- Dropdown if has children -->
          <ng-container *ngIf="item.children && item.children.length > 0">
            <a class="nav-link dropdown-toggle" 
               ngbDropdownToggle 
               [href]="item.url" 
               aria-expanded="false">
              {{ item.label }}
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li *ngFor="let child of item.children">
                <a class="dropdown-item" [href]="child.url">{{ child.label }}</a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>

      <!-- Mobile Menu: shown when toggle button is clicked -->
      <div id="pedsnetMobileMenu" class="d-md-none w-100" [ngClass]="{'show': !menuCollapsed}">
        <ul class="navbar-nav">
          <li *ngFor="let item of navItems; let i = index" 
              class="nav-item mobile-nav-item" 
              [ngClass]="{'dropdown': item.children && item.children.length > 0}">
            
            <!-- Regular link if no children -->
            <a *ngIf="!item.children || item.children.length === 0" class="nav-link" [href]="item.url">
              {{ item.label }}
            </a>
            
            <!-- Dropdown if has children -->
            <ng-container *ngIf="item.children && item.children.length > 0">
              <a class="nav-link dropdown-toggle" 
                 href="#" 
                 (click)="$event.preventDefault(); toggleDropdown(getNavItemId(i))" 
                 [attr.aria-expanded]="isDropdownOpen(getNavItemId(i))">
                {{ item.label }}
              </a>
              <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen(getNavItemId(i))}">
                <li *ngFor="let child of item.children">
                  <a class="dropdown-item" [href]="child.url">{{ child.label }}</a>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
