.pedsnet-header {
  font-family: "proxima-nova", sans-serif;
  font-size: 15px;
  line-height: 1.7;

  .navbar-brand img {
    max-height: 50px;
  }

  .navbar-nav .nav-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #124254;
    }
  }

  /* Dropdown hover behavior with fade-in animation */
  .dropdown-menu {
    display: block;
    opacity: 0;
    // visibility: hidden;
    // transform: translateY(10px); /* Start slightly lower */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;

    /* When dropdown is active (ngbDropdown.open() applies "show" class) */
    &.show {
      opacity: 1;
      // visibility: visible;
      transform: translateY(0); /* Move to normal position */
    }
  }
}
