.pedsnet-header {
  font-family: "proxima-nova", sans-serif;
  font-size: 15px;
  line-height: 1.7;

  a {
    text-decoration: none !important;
    // text-underline-offset: 0.2em;
    // transition: all 0.3s ease;

    &:focus-visible {
      text-decoration: none;
      outline: none !important;
    }

    &:hover {
      text-decoration: none;
      // text-decoration-thickness: 2px;
      // outline: 1px solid currentColor;
      // outline-offset: 2px;
      // border-radius: 2px;
    }
  }

  .navbar-brand img {
    max-height: 50px;
  }

  .navbar-nav .nav-link {
    color: none !important;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: none !important;
    }
  }

  /* Dropdown hover behavior with fade-in animation */
  .dropdown-menu {
    display: block;
    opacity: 0;
    // visibility: hidden;
    // transform: translateY(10px); /* Start slightly lower */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;

    /* When dropdown is active (ngbDropdown.open() applies "show" class) */
    &.show {
      opacity: 1;
      // visibility: visible;
      transform: translateY(0); /* Move to normal position */
    }
  }
}
