// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;

$navbar-dark-color: #FFFFFF;

/* Reassign color vars to semantic color scheme */
$midnight-green: #0D4254 ; /* Midnight green */
$cambridge-blue: #8BBBB2 ; /* Cambridge Blue */
$honeydew: #D8EDDF ; /* Honeydew */
$snow: #FBF7F9 ; /* Snow */
$black-bean: #3B1516 ; /* Black Bean */
$china-rose: #935870 ; /* China Rose */
$redwood: #AC625F ; /* Redwood */
$tomato: #FE654F ; /* Tomato */
$mauve: #E4C1F9 ; /* Mauve */
$tropical-indigo: #9381ff ; /* Tropical Indigo */
$quinacridone-magenta: #8A3D63 ; /* quinacridone-magenta */
$deep-sea-blue: #004B87; /* Deep Sea Blue */
$seafoam-green: #A4D5E1; /* Seafoam Green */
$warm-gray: #A89CA9; /* Warm Gray */
$dusty-rose: #D4A5A1; /* Dusty Rose */
$golden-yellow: #FFC300; /* Golden Yellow */
$lavender: #E6E6FA; /* Lavender */
$charcoal: #36454F; /* Charcoal */

$blue: $midnight-green ; /* 42, 68, 84 */
$green: $cambridge-blue ; /* 154, 188, 179 */
$cyan: $cambridge-blue ; /* For consistent color scheme */
$yellow: $redwood ; /* Redwood */
$red: $tomato ;
$dark: $black-bean ; /* 133, 89, 112 */

$gray-800: #343a40 ;
$gray-700: #495057 ;
$gray-400: #ced4da ;
$gray-100: $snow ; /* Snow color */

$body-color: $gray-800 ; // Bootstrap $gray-800

$link-color: $redwood ; // Bootstrap $blue
$link-hover-color: darken($link-color, 15%) ; // Bootstrap $blue

$table-accent-bg: $gray-100 ; // Bootstrap $gray-100
$table-hover-bg: $gray-400 ; // Bootstrap $gray-400

$yiq-contrasted-threshold: 170 ;

$theme-colors: (
        primary: $midnight-green,
        secondary: $china-rose,
        success: $cambridge-blue,
        info: $tropical-indigo,
        warning: $yellow,
        danger: $red,
        light: $snow,
        dark: $black-bean
);
