<ng-container *ngIf="typeMessage">
  <ng-container *ngIf="browseDefinition$ | async as browseDefinition; else simpleBadge">
    <ng-container [ngSwitch]="getCombinedTypeMessage()">
      <a *ngSwitchDefault
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(typeMessage)"
         class="badge badge-type"
         [ngClass]="[getTypeClass()]">
        {{ getCombinedTypeMessage() | translate }}
      </a>
      <span *ngSwitchCase="'community.listelement.badge'"
            class="badge badge-type"
            [ngClass]="[getTypeClass()]">
        {{ getCombinedTypeMessage() | translate }}
      </span>
      <span *ngSwitchCase="'collection.listelement.badge'"
            class="badge badge-type"
            [ngClass]="[getTypeClass()]">
        {{ getCombinedTypeMessage() | translate }}
      </span>
    </ng-container>
  </ng-container>
  <ng-template #simpleBadge>
    <span class="badge badge-type" [ngClass]="[getTypeClass()]">{{ getCombinedTypeMessage() | translate }}</span>
  </ng-template>
</ng-container>