<ng-container *ngIf="typeMessage">
  <ng-container *ngIf="browseDefinition$ | async as browseDefinition; else simpleBadge">
    <ng-container [ngSwitch]="shouldBeClickable()">
      <!-- Clickable badge -->
      <a *ngSwitchCase="true"
         [routerLink]="['/browse', browseDefinition.id]"
         [queryParams]="getQueryParams(typeMessage)"
         class="badge badge-type"
         [ngClass]="[getTypeClass()]">
        {{ getCombinedTypeMessage() | translate }}
      </a>
      
      <!-- Non-clickable badge -->
      <span *ngSwitchCase="false"
            class="badge badge-type"
            [ngClass]="[getTypeClass()]">
        {{ getCombinedTypeMessage() | translate }}
      </span>
    </ng-container>
  </ng-container>
  
  <ng-template #simpleBadge>
    <span class="badge badge-type" [ngClass]="[getTypeClass()]">
      {{ getCombinedTypeMessage() | translate }}
    </span>
  </ng-template>
</ng-container>