<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="d-flex flex-wrap justify-content-center">
        <div>
          <h1 class="display-3">PEDSpace</h1>
          <p class="lead mb-2">Welcome to PEDSpace, a public data bank repository powered by PEDSnet. PEDSpace serves as a centralized hub where digital assets generated during PEDSnet studies are made readily accessible to researchers, clinicians, and stakeholders worldwide.</p>
        </div>
      </div>
      <p class="mt-2">In PEDSpace, users can explore a wealth of resources to facilitate impactful research endeavors. Among these assets are meticulously defined variables, curated code sets, and modules for assessing data quality. Each component is designed to empower researchers with the tools necessary to navigate complex pediatric healthcare data effectively.</p>
      <div class="mt-4">
        <a href="deposit-data" class="btn btn-primary btn-lg mr-2">Deposit Data</a>
        <a href="https://pedsnet.org/" class="btn btn-secondary btn-lg" target="_blank">PEDSnet Home</a>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/pedspace-custom/images/dandy-full.webp 2000w, assets/pedspace-custom/images/dandy-half.webp 1200w, assets/pedspace-custom/images/dandy-tall.webp 768w">
    <source type="image/jpg" srcset="assets/pedspace-custom/images/dandy-full.jpg 2000w, assets/pedspace-custom/images/dandy-half.jpg 1200w, assets/pedspace-custom/images/dandy-tall.jpg 768w">
    <img alt [src]="'assets/pedspace-custom/images/dandy-full.jpg'">
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
