<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="d-flex flex-wrap justify-content-center">
        <div>
          <h1 class="display-3">PCORnet Knowledge Bank</h1>
          <p class="lead mb-2">Welcome to the PCORnet Knowledge Bank, an integral part of the National Patient-Centered
            Clinical Research Network. This repository provides access to a wealth of data designed to improve
            healthcare research and outcomes.</p>
        </div>
      </div>
      <p class="mt-2">The Knowledge Bank is an open PCORnet service dedicated to preserving and providing access to
        datasets, code, and other research-promoting resources. To see all that PCORnet does, visit our <a
          href="https://pcornet.org" target="_blank">website</a>.</p>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/pedspace-custom/images/dandy-full.webp 2000w, assets/pedspace-custom/images/dandy-half.webp 1200w, assets/pedspace-custom/images/dandy-tall.webp 768w">
    <source type="image/jpg" srcset="assets/pedspace-custom/images/dandy-full.jpg 2000w, assets/pedspace-custom/images/dandy-half.jpg 1200w, assets/pedspace-custom/images/dandy-tall.jpg 768w">
    <img alt [src]="'assets/pedspace-custom/images/dandy-full.jpg'">
    <!-- <img alt="PCORnet Banner" [src]="'assets/pedspace-custom/images/purple-plain.jpg'"> -->
    <small class="credits">Photo by <a href="https://www.pexels.com/@babydov/">@babydov</a></small>
  </picture>
</div>