<!-- item-page-cc-license-field.component.html -->

<div *ngIf="name" class="item-page-field">
  <ds-metadata-field-wrapper [label]="'item.page.cc.license.title' | translate">
    <div [ngClass]="{'row': variant === 'full', 'col': variant === 'small'}">

      <!-- Display predefined image if available -->
      <div *ngIf="showImage && imgSrc" [ngClass]="{'col-auto': variant === 'full', 'row': variant === 'small'}"
        style="align-content: center;"
      >
        <a [href]="uri" target="_blank" rel="noopener noreferrer" class="link-anchor dont-break-out ds-simple-metadata-link">
          <img (error)="showImage = false" [src]="imgSrc" [alt]="name" class="cc-image"
            [ngStyle]="{
              'width': 'var(--ds-thumbnail-max-width)',
              'margin-bottom': variant === 'small'? '1ch' : '0',
            }"
          />
        </a>
      </div>

      <!-- Display Shields.io badge if predefined image is not available -->
      <div *ngIf="!imgSrc && badgeUrl" [ngClass]="{'col-auto': variant === 'full', 'row': variant === 'small'}"
        style="align-content: center;"
      >
        <a [href]="uri" target="_blank" rel="noopener noreferrer" class="link-anchor dont-break-out ds-simple-metadata-link">
          <img [src]="badgeUrl" [alt]="name + ' License Badge'" class="cc-image"
            [ngStyle]="{
              'width': 'var(--ds-thumbnail-max-width)',
              'margin-bottom': variant === 'small'? '1ch' : '0',
            }"
          />
        </a>
      </div>

      <!-- License name is always displayed if showName is true or if image fails to load -->
      <div [ngClass]="{ 'row': variant === 'small', 'col': variant === 'full' }">
        <span>
          {{ variant === 'full' && showDisclaimer ? ('item.page.cc.license.disclaimer' | translate) : '' }}
          <a *ngIf="uri && showName" [href]="uri" target="_blank" rel="noopener noreferrer" id="license-name" attr.aria-label="License: {{ name }}">
            {{ name }}
          </a>
          <span *ngIf="!uri">{{ name }}</span>
        </span>
      </div>
    </div>
  </ds-metadata-field-wrapper>
</div>
