<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer" [object]="object" [searchable]="iiifSearchEnabled" [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div *ngIf="object?.metadata['dc.type']?.length > 0">
    <ds-generic-item-page-field class="badge" [item]="object" [fields]="['dc.type']"></ds-generic-item-page-field>
</div>

<ds-themed-item-page-title-field [item]="object" class="mr-auto">
</ds-themed-item-page-title-field>
<ds-dso-edit-menu></ds-dso-edit-menu>


<div class="row">
  <div class="col-xs-12 col-md-4">
    <!-- Date Created -->
    <ds-item-page-date-field [item]="object" [fields]="['dc.date.created']" [label]="'item.preview.dc.date.issued'"
      separator=", "></ds-item-page-date-field>
    <!-- Date Modified -->
    <ds-item-page-date-field [item]="object" [fields]="['dc.date']"
      [label]="'submission.sections.sherpa.record.information.date.modified'" separator="; "></ds-item-page-date-field>

    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>

    <!-- Download link(s) -->
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <ds-generic-item-page-field [item]="object" [fields]="['journal.title']" [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object" [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object" [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object" [fields]="['dc.publisher']" [label]="'item.page.publisher'">
    </ds-generic-item-page-field>

  </div>
  <div class="col-xs-12 col-md-6">

    <!-- TODO: make look better. n buttons. If possible. Feels like no. -->
    <ng-container *ngIf="object?.metadata['dc.subject.other']?.length > 0">
      <!-- <div class="badge-container"> -->
      <div>
        <!-- <ds-generic-item-page-field class="badge" [item]="object" [fields]="['dc.subject.other']"></ds-generic-item-page-field> -->
        <ds-generic-item-page-field [item]="object" [fields]="['dc.subject.other']"></ds-generic-item-page-field>
      </div>
    </ng-container>

    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>

    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
      [itemType]="'Person'" [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>

    <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.advisor']"
      [label]="'comcol-role.edit.reviewer.name'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.other']"
      [label]="'person.page.orcid.sync-profile.affiliation'">
    </ds-generic-item-page-field>

    <!-- Below, we only extract the first element of dc.description.provenance. -->
    <ng-container *ngIf="object?.metadata['dc.description.provenance']?.length > 0">
      <h2 class="simple-view-element-header"> {{ 'collection.form.provenance' | translate }}</h2>
      <p>{{ object?.metadata['dc.description.provenance'][0]?.value }}</p>
    </ng-container>

    <!-- Below is the description field. Important to note that the code below will ALWAYS label
     the first element of the 'dc.description' as as 'Description' and the second element as
     'Cohort Description.' Any additional elements will not be labeled. -->
    <ng-container *ngIf="object?.metadata['dc.description']?.length > 0">
      <div class="description-field">
        <ng-container *ngFor="let metadata of object.metadata['dc.description']; let i = index">
          <div *ngIf="i === 0" class="cohort-description-label">
            <h2 class="simple-view-element-header">{{ 'item.page.description' | translate }}</h2>
            <p>{{ metadata.value }}</p>
          </div>
          <!-- Below is a bespoke en.json5 label - item.page.description.cohort: "Cohort Description";
         If this site ever goes live in any language other than just English, it needs to be translated
         and added to the corresponding language file. -->
          <div *ngIf="i === 1" class="cohort-description-label">
            <h2 class="simple-view-element-header">{{ 'item.page.description.cohort' | translate }}</h2>
            <!-- I feel like a genius for figuring this one out. Inspect the Edit page and you'll see that the
            'dc.description' field has the class 'preserve-line-breaks' applied to it.  -->
            <p class="preserve-line-breaks">{{ metadata.value }}</p>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!-- Development Code -->
    <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.uri']" [label]="'item.preview.dc.relation.uri'">
    </ds-item-page-uri-field>

    <!-- I literally had to go into /opt/dspace/config/dspace.cfg to make the subject lines clickable. I found this out
       by going into src/app/item-page/simple/field-components/specific-field/generic/generic-item-page-field.component.ts and then 
       src/app/item-page/simple/field-components/specific-field/item-page-field.component.ts and then the comment above
       `get browseDefinition()`. Isn't that wild? And there are soooooooooooooooo many configurations in dspace.cfg
       that we have to configure to make this a fully-functional website. -->
    <!-- Vocabularies -->
    <ds-generic-item-page-field [item]="object" [fields]="['dc.subject']" [separator]="', '"
      [label]="'item.page.subject'"></ds-generic-item-page-field>

    <!-- Variables -->
    <ds-generic-item-page-field [item]="object" [fields]="['dc.subject.mesh']" [separator]="';<br>'"
      [label]="'item.page.subject.mesh'"></ds-generic-item-page-field>



    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
<!-- Gray Boxes -->
<div class="row gray-boxes-container">
  <div class="col-xs-12 col-md-6 gray-box">
    <!-- for each element in dc.relation.uri up to 5 elements, 
     print the value of the element (which will be a url) and render it as clickable -->
    <ds-generic-item-page-field [item]="object" [fields]="['dc.relation']" [label]="'item.preview.dc.relation'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6 gray-box">
    <ds-generic-item-page-field [item]="object" [fields]="['dc.relation.isreferencedby']" [label]="'item.preview.dc.relation.isreferencedby'">
    </ds-generic-item-page-field>
  </div>
</div>

<ds-generic-item-page-field [item]="object" [fields]="['dc.rights']">
</ds-generic-item-page-field>

<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
  <img src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License"> </a>