<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>

<div class="container">
  <div class="row" *ngIf="iiifEnabled">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer" [object]="object" [searchable]="iiifSearchEnabled"
        [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>


  <div class="d-flex">
    <ds-badges *ngIf="showLabel" [object]="object" [showAccessStatus]="true"></ds-badges>
  </div>

  <ds-item-page-title-field [item]="object" class="mr-auto"></ds-item-page-title-field>
  
  <div class="d-flex align-items-center">
    <ds-dso-edit-menu [object]="object"></ds-dso-edit-menu>
  
    <!-- <a *ngIf="object" class="btn btn-primary btn-sm private-link mb-2" (click)="copyPermalink()"
       [title]="isCopied ? 'Permalink copied!' : 'Copy Permalink'">
      <i class="fa" [ngClass]="isCopied ? 'fa-check' : 'fa-clipboard'"></i>
    </a> -->
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <!-- Date Created -->
      <ds-item-page-date-field [item]="object" [fields]="['dc.date.created']" [label]="'item.preview.dc.date.issued'"
        separator="','"></ds-item-page-date-field>
      <!-- Date Modified -->
      <ds-item-page-date-field [item]="object" [fields]="['dc.date']" [label]="'item.preview.dc.date'" separator="; ">
      </ds-item-page-date-field>

      <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
        <ds-media-viewer [item]="object"></ds-media-viewer>
        <div class="caption text-center mt-2">
          <small class="text-muted">Click on the thumbnail above to preview images.</small>
        </div>
      </div>

      <!-- Download link(s) -->
      <ds-item-page-file-section [item]="object"></ds-item-page-file-section>

      <ds-generic-item-page-field [renderAsButton]="true" [item]="object" [fields]="['dc.subject']" [separator]="'<br>'"
        [label]="'item.preview.dc.subject'" [entityType]="object?.metadata['dspace.entity.type']?.[0]?.value">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.publisher']" [label]="'item.page.publisher'">
      </ds-generic-item-page-field>

    </div>

    <div class="col-12 col-md-8">

      <ds-generic-item-page-field [item]="object" [fields]="['local.dqcheck.requirement']" [separator]="','"
        [label]="'item.preview.local.dqcheck.requirement'" [isDQCheckRequirement]="'true'">
      </ds-generic-item-page-field>

      <ds-item-page-abstract-field [item]="object" [label]="'item.page.abstract'"></ds-item-page-abstract-field>

      <h2>Check Output</h2>

      <ds-item-page-local-field [item]="object" [fields]="['local.description.viz']"
        [label]="'item.preview.local.description.viz'"></ds-item-page-local-field>

      <ds-item-page-local-field [item]="object" [fields]="['local.description.raw']"
        [label]="'item.preview.local.description.raw'"></ds-item-page-local-field>

      <!-- <ds-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
        [itemType]="'Person'" [metadataFields]="['dc.contributor.author', 'dc.creator']"
        [label]="'item.preview.dc.contributor.author' | translate">
      </ds-metadata-representation-list> -->

      <!-- <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.advisor']"
        [label]="'item.preview.dc.contributor.advisor'">
      </ds-generic-item-page-field> -->

      <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor.other']"
        [label]="'item.preview.dc.contributor.other'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.contributor']" [label]="'item.preview.dc.contributor'"
        [sentenceTemplate]="'This research was made possible through the generous support of the [value].'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object" [fields]="['dc.provenance']" [label]="'collection.form.provenance'">
      </ds-generic-item-page-field>

      <ds-item-page-description-field [item]="object"
        [label]="'item.page.description'"></ds-item-page-description-field>

      <!-- <ng-container *ngIf="isLoggedIn"> -->
      <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.uri']" [label]="'item.preview.dc.relation.uri'">
      </ds-item-page-uri-field>
      <!-- </ng-container> -->
      <ds-generic-item-page-field [item]="object" [fields]="['dc.subject.mesh']" [separator]="'<br>'"
        [label]="'item.page.subject.mesh'"></ds-generic-item-page-field>

      <ds-related-items [parentItem]="object" [relationType]="'isDQResultOfDQCheck'"
        [label]="'relationships.isDQResultOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isPersonOfDQCheck'"
        [label]="'relationships.isPersonOf' | translate">
      </ds-related-items>

      <ds-related-items [parentItem]="object" [relationType]="'isDQCheckOfDQCheck'"
        [label]="'relationships.isdDQCheckOf' | translate">
      </ds-related-items>

      <ds-item-page-external-publication-field [item]="object" [label]="'item.preview.dc.relation.isreferencedby'">
      </ds-item-page-external-publication-field>

      <ds-item-page-cc-license-field [item]="object" [variant]="'full'">
      </ds-item-page-cc-license-field>

      <div>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
          <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
        </a>
      </div>
    </div>
  </div>
</div>