@import '../../../../../../../styles/variables.scss';
@import 'src/themes/PEDSpace/styles/_theme_sass_variable_overrides.scss';

::ng-deep {
  .dqcheck-table {
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1em 0;
      font-family: Arial, sans-serif;
      table-layout: fixed;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    /* Responsive Tables */
    .table-responsive {
      overflow-x: auto;
    }


    th:nth-child(1),
    td:nth-child(1) {
      width: 20%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 20%;
    }

    /* Force the "Definition" column to wrap text */
    th:nth-child(3),
    td:nth-child(3) {
      width: 60%;
      /* Remaining width */
      white-space: normal;
      /* Allow text to wrap */
      word-wrap: break-word;
      /* Break long words */
      word-break: break-word;
      /* Break long words */
    }
  }
}
