.navbar-section {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .ds-menu-item-wrapper {
    text-decoration: underline;
  }
  
  .ds-menu-item-wrapper:hover {
    text-decoration: none;
  }