<!-- Conditional alert messages based on submission definition -->
<ng-container [ngSwitch]="submissionDefinition">
  <ds-alert *ngSwitchCase="'DQResult'"
            [content]="'submission.sections.upload.info.dqresult'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'dqresult'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'DQCheck'"
            [content]="'submission.sections.upload.info.dqcheck'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'dqcheck'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Documentation'"
            [content]="'submission.sections.upload.info.documentation'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'documentation'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Phenotype'"
            [content]="'submission.sections.upload.info.phenotype'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'phenotype'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'ConceptSet'"
            [content]="'submission.sections.upload.info.conceptset'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'conceptset'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Code'"
            [content]="'submission.sections.upload.info.code'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'code'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Study'"
            [content]="'submission.sections.upload.info.study'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'study'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'OrgUnit'"
            [content]="'submission.sections.upload.info.orgunit'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'orgunit'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Person'"
            [content]="'submission.sections.upload.info.person'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'person'"></ds-alert>
  
  <ds-alert *ngSwitchCase="'Publication'"
            [content]="'submission.sections.upload.info.publication'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'publication'"></ds-alert>
  
  <ds-alert *ngSwitchDefault
            [content]="'submission.sections.upload.info'"
            [dismissible]="true"
            [type]="AlertTypeEnum.Info"
            [attr.data-type]="'default'"></ds-alert>
</ng-container>

<ng-container *ngIf="fileList.length > 0; else noFileUploaded">

  <div *ngIf="collectionDefaultAccessConditions.length > 0" class="row">
    <div class="col-sm-12" >
      <ds-alert [type]="AlertTypeEnum.Warning">
        <ng-container *ngIf="collectionPolicyType === 1">
          {{ 'submission.sections.upload.header.policy.default.nolist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <ng-container *ngIf="collectionPolicyType === 2">
          {{ 'submission.sections.upload.header.policy.default.withlist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <span class="clearfix"></span>
        <ds-submission-section-upload-access-conditions [accessConditions]="collectionDefaultAccessConditions"></ds-submission-section-upload-access-conditions>
      </ds-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <span class="text-left font-weight-bold">{{ 'bitstream.edit.form.primaryBitstream.label' | translate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
  <ng-container *ngFor="let fileEntry of fileList; let i = index;">
    <ds-submission-upload-section-file
                                       [isPrimary]="primaryBitstreamUUID ? primaryBitstreamUUID === fileEntry.uuid : null"
                                       [availableAccessConditionOptions]="availableAccessConditionOptions"
                                       [collectionId]="collectionId"
                                       [collectionPolicyType]="collectionPolicyType"
                                       [configMetadataForm]="(configMetadataForm$ | async)"
                                       [fileId]="fileEntry.uuid"
                                       [fileIndex]="i"
                                       [fileName]="fileNames[i]"
                                       [sectionId]="sectionData.id"
                                       [submissionId]="submissionId"></ds-submission-upload-section-file>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #noFileUploaded>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center h3"><span class="text-muted">{{'submission.sections.upload.no-file-uploaded' | translate}}</span></div>
    </div>
  </div>
</ng-template>
