@import "src/styles/_variables.scss";
@import "src/themes/PEDSpace/styles/_theme_sass_variable_overrides.scss";

.full-width-header {
  background-color: $midnight-green; /* $midnight-green */
  // padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center; /* Centers items vertically */
  min-height: 200px;
}

.midnight-header {
  width: 100%; /* Ensure the header takes full width */
}

.midnight-header ::ng-deep h1,
.midnight-header ::ng-deep h2 {
  color: white !important;
  font-size: 64px;
  margin: 0;
  padding: 0;
  text-decoration: none; /* Remove default underline */
  position: relative; /* For custom underline positioning */
}

/* Create custom underline with space */
.midnight-header ::ng-deep h1::after,
.midnight-header ::ng-deep h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Space between text and underline */
  width: 5%;
  height: 5px; /* Thickness of underline */
  background-color: #925870; /* Color for underline */
}

.community-page {
  margin-top: 1rem;
}